{$DOMAIN:localhost} {
	encode zstd gzip

	reverse_proxy app:3000 {
		flush_interval -1
		transport http {
			dial_timeout 10s
			response_header_timeout 10m
			read_timeout 10m
			write_timeout 10m
		}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	log {
		output stdout
		format json
	}
}
